<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Organizer/assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Organizer/assets/css/progress-bars.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Organizer/assets/css/smoothproducts.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
</head>
<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container">
        <a class="navbar-brand logo font-weight-bold" href="#" style="color: #0d4040;">CCSIT Activities</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
        </div>
    </div>
</nav>
<main class="page login-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 style="color:#9A7D46;">Reset Password</h2>
            </div>
            <form method="POST" style="border-top:#0D4040;">
                <div class="form-group">
                    <label for="ID">Token</label>
                    <input type="username" id="Token" name="Token" placeholder="Token" style="border-color:#9A7D46; " value="{{ request.form.username }}" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password" style="border-color:#9A7D46; " value="{{ request.form.password }}" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" style="border-color:#9A7D46; " placeholder="Confirm Password" value="{{ request.form.Confirmpassword }}" class="form-control" required>
                </div>
                <div class="form-group">
                    {% if error %}
                        <p class="error"><strong>Error:</strong> {{ error }}
                    {% endif %}
                </div>
                <button class="btn btn-block font-weight-bold" type="submit" style="background-color:#0D4040; ">Reset password</button>
            </form>
        </div>
    </section>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='Organizer/assets/js/theme.js') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='Organizer/assets/js/smoothproducts.min.js') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='Organizer/assets/bootstrap/js/bootstrap.min.js') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='Organizer/assets/js/jquery.min.js') }}">
</body>
</html>