<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ATTENDENCE</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='Organizer/assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Organizer/assets/css/progress-bars.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Organizer/assets/css/smoothproducts.css') }}">
</head>
<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container">
        <a class="navbar-brand logo font-weight-bold" href="/home" style="color: #0d4040;">CCSIT Activities</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="/home">VIEW ACTIVITY</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

{% for row in rows %}
    <main class="page faq-page">
        <section class="clean-block clean-faq dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class=" d-lg-flex justify-content-lg-start font-weight-bold" style="color: #9A7D46; ">Attendence</h2>
                </div>
                <div class="block-content">
                    <div class="row">
                        <div class="col">
                            <h5 style="color: #9A7D46;">{{ row[2] }}</h5>
                        </div>

                        <div class="col">
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Attendnce</th>
                            </tr>
                            </thead>
                            <tbody>
                            <form id="formname" method="post">
                                {% for row in names %}
                                    <form method="post">
                                        <tr>
                                            <td>
                                                {{ row[0] }}
                                            </td>
                                            {% if row[2] == 1 %}
                                                <input type="text" id="attend" style="display: none;  visibility: hidden;" value="0" name='attend'>
                                                <input type="text" id="studentid" style="display: none;  visibility: hidden;" value="{{ row[1] }}" name='studentid'>
                                                <td>
                                                    <button name="studentID" id="studentID" style="background-color: #0D4040;  color:#ffffff" type="submit">Present</button>
                                                </td>
                                            {% else %}
                                                <input type="text" id="studentid" style="display: none;  visibility: hidden;" value="{{ row[1] }}" name='studentid'>
                                                <input type="text" id="attend" style="display: none;  visibility: hidden;" value="1" name='attend'>
                                                <td>
                                                    <button name="studentID" id="studentID" style="background-color: #9A7D46;  color:#ffffff" type="submit">Absent</button>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    </form>
                                {% endfor %}
                            </form>
                            </tbody>
                        </table>
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-6">
                                <a class="btn font-weight-bold  btn-block" href="/home" style="background-color:#86a0a0; color:#FFFFFF ">Back to Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endfor %}
<script>$(document).ready(function () {
    $("#formname").on("change", "input:checkbox", function () {
        $("#formname").submit();
    });
});</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<link href="{{ url_for('static', filename='Organizer/assets/js/jquery.min.js') }}">
<link href="{{ url_for('static', filename='Organizer/assets/bootstrap/js/bootstrap.min.js') }}">
<link href="{{ url_for('static', filename='Organizer/assets/js/smoothproducts.min.js') }}">
<link href="{{ url_for('static', filename='Organizer/assets/js/theme.js') }}">
</body>
</html>